body{
  margin: 10px;
  background-color: aquamarine;
  }

#grilla {
  display: grid;
  margin: auto;
  grid-gap: 0px;
  width: 960px;
}

.celda {
  border: none;
  outline:1px solid #000;
  }

#newGrid {
  color: black;
  font-weight: bold;
  margin: auto;
  display:flex;
  margin-bottom: 30px;
}